{
    order http_cache before reverse_proxy
    admin 0.0.0.0:7777

}

:9991 {
    reverse_proxy {
        to localhost:9995
    }

    http_cache {
        cache_type in_memory 
        match_path /

        distributed consul {
            service_name "cache_server"
            addr "consul:8500"
            health_check ":7777/health"
        }
    }
}


:9995 {
    header Cache-control "public"
    root * /tmp/caddy-benchmark
    file_server

    log {
        level info
    }
}
