{
    order http_cache before reverse_proxy
}

:9991 {
    reverse_proxy {
        to localhost:9995
    }

    http_cache {
        cache_type in_memory 
        match_path /
        match_header Content-Type image/jpg image/png "text/plain; charset=utf-8"
    }
}


:9995 {
    header Cache-control "public"
    root * /tmp/caddy-benchmark
    file_server

    log {
        level info
    }
}
