# This is an example caddyfile
{
    # debug
    order http_cache before reverse_proxy
    admin 0.0.0.0:7777
}

:9991  {

    reverse_proxy {
        to localhost:9995
    }

    http_cache {

        cache_type in_memory
        match_path /
        path /tmp/cache

        distributed consul {
           service_name "cache_server"
            addr "127.0.0.1:8500"
            health_check ":7777/health"
        }

    }

    log {
        output file /tmp/logs/caddy/access.log
        format logfmt 
        level debug
    }

    #log {
    #    output file /var/logs/caddy/access.log
    #    format single_field common_log
    #}
}

:9995 {
    header Cache-control "public"
    root * /tmp/caddy-benchmark
    file_server

    log {
        level info
    }
}


