# This is an example caddyfile
{
    # debug
    order http_cache before reverse_proxy
}

:4000  {

    encode zstd gzip

    reverse_proxy {

        to localhost:8080

    }

    http_cache {

        cache_type in_memory
        match_path /
        path /tmp/cache

    }

    log {
        output file /tmp/logs/caddy/access.log
        format logfmt 
        level debug
    }

    #log {
    #    output file /var/logs/caddy/access.log
    #    format single_field common_log
    #}
}


