{
    order http_cache before reverse_proxy
    admin 0.0.0.0:7777
    debug

    storage consul {
        addr "consul:9500"
        token ""
        key_prefix "caddy_https"
    }

}

:9991 {
    reverse_proxy {
        to localhost:9995
    }

    http_cache {
        cache_type in_memory
        match_path /

        default_max_age 1m
    }

}

:9995 {
    header Cache-control "public"
    root * /tmp/caddy-benchmark
    file_server

    log {
        level info
    }
}